<footer class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Me</h5>
        <p>Saw Tze Ying - Student ID: 32758324</p>
        <p>CTO of Express Software</p>
      </div>
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Your Vision, Our Mission. <br />
          We transform visions into reality through digital solutions. Our
          mission is to empower businesses to reach a wider audience, driving
          growth and efficiency.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: tsaw0005&#64;student.monash.edu</p>
        <p>Phone: (61) 0405-777-888</p>
        <p>Address: FIT2095,FIT, Monash University</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 text-center">
        <p>&#64; 2024 Express Delivery. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
